# Environment and secrets
.env

    # Data folders
    # We commit the structure and metadata, but not the raw/cleaned data files.
data/raw/
data/cleaned/

    # Python cache and artifacts
__pycache__/
*.pyc
*.pkl

    # Jupyter Notebook checkpoints
.ipynb_checkpoints/

    # OS-specific files
.DS_Store